body {
  margin: 0;
  background: #fffcba;
  background-size: cover;
  font-family: "Futura", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 7px solid transparent;
}

.topnav a:hover {
  border-bottom: 7px solid #fff300;
}

.topnav a.active {
  border-bottom: 7px solid #fff300;
}

html {
  scroll-behavior: smooth;
}

.nav a:hover {
  color: grey;
  font-weight: 550;
}

.nav a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


.flex-container {
  margin: 20px;
  padding: 20px;
  font-size: 25px;
  color: black;
  /* border: 2px solid black; */
}

.flex-container_yellow_left {
  display: flex;
  margin: 50px;
  padding: 40px;
  font-size: 23px;
  color: black;
  background: linear-gradient(to right, #fff200a7 0%, #fff200a7 45%,  #fffcba 55%,  #fffcba 0%);
  border-radius: 15px;
}

.flex-container_yellow_right {
  display: flex;
  margin: 40px;
  padding: 20px;
  font-size: 20px;
  color: black;
  background: linear-gradient(to right,  #fffcba 0%,  #fffcba 45%, #fff200a7 55%, #fff200a7 0%);
  border-radius: 15px;
}

.flex-container_grey_left {
  display: flex;
  margin: 50px;
  padding: 40px;
  font-size: 20px;
  color: black;
  background: linear-gradient(to right, rgba(211, 211, 211, 0.553) 0%, rgba(211, 211, 211, 0.553) 45%,  #fffcba 55%,  #fffcba 0%);
  border-radius: 15px;
}

.flex-container_grey_right {
  display: flex;
  margin: 40px;
  padding: 20px;
  font-size: 20px;
  color: black;
  background: linear-gradient(to right,  #fffcba 0%,  #fffcba 45%, rgba(211, 211, 211, 0.553) 55%, rgba(211, 211, 211, 0.553) 0%);
  border-radius: 15px;
}

#header_1 h1 {
  padding: 10px;
  margin: 70px;
  text-align: center;
  color: black;
  font-size: 80px;
  background: radial-gradient(#fff200 20%, transparent 70%, transparent 100%);
  /* border: 2px solid black; */
}

#header_2 h1 {
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 30px;
  /* border: 2px solid black; */
}

img {
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

#example1 {
  border: 1px solid black;
  background: url(Parrow\ Arrow\ Black.png);
  background-size: 100px 80px;
  background-repeat: no-repeat;
  padding: 15px;
}